@import './config.scss';

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 36px;
}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: none;
}
.ant-input {
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px 5px 10px;
  font-size: 13px;
  color: #3b3b3b;
}

.ant-select {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.ant-btn {
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  border-color: #cecece;

  &.tracking {
    margin-left: 8px;
  }
  span {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
  }
  &.filter-column {
    i {
      line-height: 38px;
    }
    svg {
      font-size: 18px;
    }
  }
  &.ant-btn-primary {
    box-shadow: unset;
    svg {
      fill: #fff;
    }
    &:hover {
      color: #fff;
      svg {
        fill: #fff;
      }
    }
    &:focus {
      color: #fff;
    }
  }
}
