.container {
  margin: 0 auto;
  width: 500px;

  .serachResultWrapper {
    padding-left: 0px;
    border: 1px solid black;

    .list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style-type: none; /* Remove bullets */
      padding: 10px;
      height: 100%;
      border-bottom: 1px solid black;
      height: 50px;
      &:last-child {
        border-bottom: none;
      }
      .productName {
        font-weight: 600;
      }

      .brandName {
        font-size: 14px;
      }
    }
  }
}
